body {
    background-color: #1c1c1c; /* Donkere achtergrondkleur */
    font-family: 'Arial', sans-serif; /* Standaard lettertype */
    color: #ffffff; /* Witte tekstkleur */
}

.card {
    background-color: #2d2d2d; /* Donkere kaartachtergrond */
    border: none; /* Geen rand */
}

.card-header {
    background-color: #3498db; /* League of Legends-blauw */
    color: #ffffff; /* Witte tekstkleur */
}

.form-control {
    background-color: #4c4c4c; /* Donkere achtergrondkleur voor invoervelden */
    color: #ffffff; /* Witte tekstkleur */
    border-color: #555555; /* Randkleur voor invoervelden */
}

.form-check-input {
    background-color: #4c4c4c; /* Donkere achtergrondkleur voor selectievakjes */
}

.btn-primary {
    background-color: #3498db; /* League of Legends-blauw voor knoppen */
    border-color: #3498db; /* Randkleur voor knoppen */
}

.btn-primary:hover {
    background-color: #2980b9; /* Donkerder blauw bij hover */
    border-color: #2980b9; /* Donkere randkleur bij hover */
}
