/* Algemene stijl */
body {

    background-color: rgba(0, 0, 0, 0.73); /* Achtergrondkleur */
    font-family: Arial, sans-serif; /* Lettertype */
}

.container {
    margin-top: 50px;
}

.card {
    border: 1px solid #ddd; /* Rand van de kaart */
    border-radius: 5px; /* Afgeronde hoeken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schaduw */
}

.card-header {
    background-color: #007bff; /* Achtergrondkleur van de kaartkop */
    color: #fff; /* Tekstkleur van de kaartkop */
    text-align: center;
    padding: 15px; /* Ruimte rondom de kaartkop */
    border-top-left-radius: 5px; /* Afgeronde hoeken */
    border-top-right-radius: 5px; /* Afgeronde hoeken */
}

.card-body {
    padding: 20px; /* Ruimte rondom de kaartinhoud */
}

.btn-primary,
.btn-secondary {
    background-color: #007bff; /* Achtergrondkleur van de knoppen */
    color: #fff; /* Tekstkleur van de knoppen */
    padding: 10px 20px; /* Ruimte binnen de knoppen */
    text-decoration: none; /* Geen onderstreping */
    border: none; /* Geen rand */
    border-radius: 5px; /* Afgeronde hoeken */
    margin-right: 10px; /* Ruimte tussen de knoppen */
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #0056b3; /* Achtergrondkleur van de knoppen bij hover */
    cursor: pointer; /* Wijzig de cursor bij hover */
}
